@model Core.ResultType.Result<DataTransferObject.Role.RoleDTO>
@{
    ViewData["Title"] = "Rol Silme";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-dark">
    @Model.Data.Name isimli rolü silmek istediğinizden emin misiniz?
    @if(ViewData["message"] != null && ViewData["message"] != "")
    {
        @ViewData["message"];
    }
    <div class="row">
        <div class="col-lg-3">
            <form asp-action="Delete" asp-controller="Role" method="post">
                <input type="submit" asp-action="Delete" asp-controller="Role" asp-route-id="@Model.Data.Id" class="btn btn-danger" value="Evet Sil">
            </form>
        </div>
        <div class="col-lg-3">
            <a class="btn btn-success" asp-controller="Role" asp-action="Index">Vazgeç</a>
        </div>
    </div>
</div>

